.app-container {
  height: 100vh;
  width: 100vw;
  overflow:hidden;
}

.app-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-left: 300px;
}

.app-navigation {
  float:left;
  height: 100%;
  width:300px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.app-navigation > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app-navigation > ul li {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(0 0 0 / 18%);
}


.app-navigation > ul a {
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.app-navigation > ul a:hover {
  text-decoration: underline;
  background: #eee;
}